html {
    height: 100%;
}

body {
    color: #061c30;
    text-align: center;
    padding-top:2.5%;
    font-family: 'Inconsolata', monospace;
}

.directory {
    text-align: center;
}

nav {
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #0f8fef;
}

a.org{
    background-color: rgba(124, 216, 200, 0.32);
    color: black;
}
a.org:hover{
    background-color: rgba(124, 216, 200, 0.58);
    text-decoration: none;
}

#me {
    vertical-align: middle;
    width:170px;
    border-radius: 20%;
    z-index: 10;
}

#info {
    padding-top: 0.5%;
    text-align: left;
    width: 90%;
}

#description{
    padding-left:10%;
}

h1 {
    padding-top:0.1em;
    font-size: 3.5em;
    font-family: 'Lora', serif;
    text-transform: lowercase;
    letter-spacing: 0.13em;
}

h1.mobile{
    font-size:10vw;
}

.text{
    width:80%;
    padding: 10 auto 10 auto;
}

.btn {
    margin: 0.5%;
}

.btn-primary {
    background-color: #359dff;
    border-color: #359dff;
    letter-spacing: 0.05em;
}

.btn-primary:hover {
    background-color: #2290f7;
    border-color: #2290f7;
}

#signature img{
    width:150px;
}

.recs{
    margin-top: 10%;
    margin-left: -40%;
    margin-right: -55%;
    /*padding-top: 10px;*/
}

.recs h5{
    font-weight: 500;
}

.reads h5{
    padding-top: 20px;
}

.listens h5{
    padding-top: 40px;
}

.recs a{
    margin-top: -20%;
}
